{% extends "layouts/front-end/base.njk" %}
{% set bubble_color = "gris" %}

{% block title %}404{% endblock %}


{% block main %}
  <h1>404</h1>
  <p>Désolé, la page que vous recherchez est introuvable.</p>
{% endblock %}