{% extends "layouts/front-end/base.njk" %}
{% set bubble_color = "gris" %}

{% block title %}Contact{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/styles/contact.css">
{% endblock %}



{% block main %}

<section>
    <h1 class="title">Plus d'infos sur la formation ?</h1>
    <h1 class="title">Contactez-nous !</h1>
    
    <p>
        <strong>La formation s'ouvre à tous les bacheliers,</strong> pour rappel. Avoir des connaissances en programmation, design ou encore audiovisuel n'est pas obligatoire mais reste un bon atout, 
        car il faut aimer la curiosité dans cette formation pluridisciplinaire.
        <strong>Il est également possible de faire la formation après une reprise d'études ou une réorientation.</strong>
    </p>
</section>

<div class="form">
    <form method="post" data-form="contact">
        <label for="lastname">Nom de famille:</label>
        <input type="text" id="lastname" name="lastname" required>

        <label for="firstname">Prénom:</label>
        <input type="text" id="firstname" name="firstname" required>

        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>

        <label for="content">Contenu:</label>
        <textarea id="content" name="content"></textarea>

        <label for="type">Type:</label>
        <select id="type" name="type">
            <option value="non_précise" selected>Non Précisé</option>
            <option value="autre">Autre</option>
            <option value="etudiant">Étudiant</option>
            <option value="parent">Parent</option>
        </select>

        <button type="submit" class="btnsub">Envoyer</button>
    </form>
</div>

<section>
    <h1 class="title">Nous contacter par courrier</h1>
    <p>IUT de Cergy-Pontoise,<br>
        Dépatement Métiers du Multimédia et de l'Internet (MMI)<br>
        34 Bis Boulevard Henri Bergson<br>
        95200 Sarcelles
    </p>
</section>

{% endblock %}