{% extends "layouts/front-end/base.njk" %}
{% set bubble_color = "gris" %}

{% block title %}Contact{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/styles/contact.css">
{% endblock %}

{% block main %}

<div class="form">
    <form action="/submit" method="post" class="formConact">
        <label for="lastname">Nom de famille:</label>
        <input type="text" id="lastname" name="lastname" required>

        <label for="firstname">Prénom:</label>
        <input type="text" id="firstname" name="firstname" required>

        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>

        <label for="content">Contenu:</label>
        <textarea id="content" name="content"></textarea>

        <label for="type">Type:</label>
        <select id="type" name="type">
            <option value="non_précise" selected>Non Précisé</option>
            <option value="autre">Autre</option>
            <option value="etudiant">Étudiant</option>
            <option value="parent">Parent</option>
        </select>

        <button type="submit" class="btn">Envoyer</button>
    </form>
</div>
    
{% endblock %}