{% extends "layouts/front-end/base.njk" %}
{% block title %}Accueil{% endblock %}
{% set bubble_color = "rose" %}

{% block main %}
    <h1 class="text-3xl font-bold mb-4">Articles sur le BUT MMI</h1>
    <section class="flex justify-between flex-col-reverse lg:flex-row sm:gap-x-10 gap-y-6">
        <ul>
            {% for item in list_articles.data %}
                <li class="w-full mb-6 shadow hover:shadow-xl lg:max-w-[750px]">
                    <a class="block" href="{{ item._id }}">
                        <figure>
                            <img class="w-full" style="max-height:250px;max-width:auto;" src="{{ 'images/default-articles-image.png' if item.image|length == 0 else 'uploads/' ~ item.image }}" alt="">
                        </figure>
                        <section class="p-8 pb-14">
                            <h2 class="text-2xl font-bold">{{ item.title }}</h2>
                            <p>{{ item.abstract }}</p>
                            <p>{{ item.content }}</p>
                            <p>Fait par {{item.author.firstname}} {{item.author.lastname}}</p>
                        </section>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <a class="jpo-banniere flex-1 basis-80" href="https://www.cyu.fr/formation/construire-son-projet/salons-journee-portes-ouvertes" title="Ouverture dans un nouvel onglet">
            <figure class="logo">
                <img src="/images/logo-cyu-blanc.png" width="200" alt="">
            </figure>

            <section class="textes">
                <p class="text-2xl">Journée portes ouvertes</p>
                <p class="text-4xl mb-3">
                    27/01/2024,
                    <br>
                    de 10h à 17h
                </p>
                <p class="en-savoir-plus">EN SAVOIR PLUS</p>
            </section>
        </a>
    </section>
{% endblock %}
