{% extends "layouts/front-end/base.njk" %}
{% set bubble_color = "vert" %}

{% block styles %}
<link rel="stylesheet" href="/styles/lieux-de-vie.css">
{% endblock %}

{% block title %}Lieux de vie{% endblock %}

{% block main %}

    <div class="conteneur-paragraphe">
        <section class="paragraphe">
            <div class="text-container">
                <h1 class="titre">Lieux de vie</h1>
                <p class="pres">Entre les cours, l'université et ses IUT proposent de nombreux lieux de convivialité ou d'idéation. Divers et variés, ils permettent aux étudiants, de toute formation, de découvrir de nouveaux horizons et surtout de rencontrer les étudiants d'autres BUT.</p>
            </div>
        </section>

        <section class="paragraphe">
            <div class="text-container">
                <h2 class="titre">Bibliothèque universitaire</h2>
                <p class="pres">La bibliothèque universitaire est un atout indispensable à votre réussite. Elle met à votre disposition des collections (livres, revues, ressources numériques accessibles sur place et à distance) ainsi que des postes informatiques et des espaces de travail.</p>
            </div>
            <img src="/images/BU-CYU.jpg" alt="Bibliothèque Universitaire" class="imgPres">
        </section>

        <section class="paragraphe">
            <div class="text-container">
                <h2 class="titre">Se restaurer</h2>
                <p class="pres">Les restaurants du CROUS vous permettent de déjeuner pour un tarif social fixé au plus à 3,30 €. Pour bénéficier de ce tarif, il vous suffit de présenter votre carte d'étudiant multiservices. <br><span class="bold">Si vous êtes étudiant boursier, vous bénéficiez automatiquement, lors de votre passage en caisse, du tarif de 1 € pour un repas complet.</span></p>
            </div>
            <img src="/images/se-restaurer.jpg" alt="Cantine" class="imgPres">
        </section>
        
        <section class="paragraphe">
            <div class="text-container">
                <h2 class="titre">Se restaurer</h2>
                <p class="pres">Les restaurants du CROUS vous permettent de déjeuner pour un tarif social fixé au plus à 3,30 €. Pour bénéficier de ce tarif, il vous suffit de présenter votre carte d'étudiant multiservices. <br><span class="bold">Si vous êtes étudiant boursier, vous bénéficiez automatiquement, lors de votre passage en caisse, du tarif de 1 € pour un repas complet.</span></p>
            </div>
            <img src="/images/se-restaurer.jpg" alt="Cantine" class="imgPres">
        </section>
    </div>

{% endblock %}