section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

section:nth-child(odd) {
    flex-direction: row-reverse;
}

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.titre {
    font-weight: bold;
    font-size: 22px;
    color: #0066FF;
}

.pres {
    margin-bottom: 15px;
}

.imgPres {
    height: 400px;
    width: 680px;
    max-width: 100%;
    display: block;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.bold {
    font-weight: bold;
}
