.videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}

.video{
    padding: 5px;
}

.title{
    font-weight: bold;
    font-size: 36px;
}

.head{
    width: 48.75em;
    margin-bottom: 25px;
}

.txt-video{
    margin-left: 5px;
}