<footer class="conteneur-footer">
	<div class="img">
		<img class="logo-cyu" src="images/logo-cyu-couleur.svg" alt="Logo de Cergy Université">
	</div>
	<hr class="trait">
	<div class="all">
		<p class="txt"> Certains textes sont issus de Wikipédia </p>
		<div class="liens">
			<ul class="hyperliens">
				<li class="lien"><a href=" https://fr-fr.facebook.com/CYCergyParisUniversite/" target="__blank"> Facebook </a></li>
				<li class="lien"><a href=" https://twitter.com/universitecergy?lang=fr" target="__blank"> Twitter </a></li>
				<li class="lien"><a href="https://www.cyu.fr/" target="__blank"> Université CY Paris Université</a></li>
				<li class="spe">|</li>
				<li class="spe"><a class="lien-remonter" href="#haut" aria-label=""> Remonter </a></li>
			</ul>
			<p class="txt"> © 2013–2021 - BUT MMI - CY Paris Université </p>
		</div>
	</div>
</footer>