<footer role="contentinfo">
    <p> Certains textes sont issus de Wikipédia </p>
	<ul class="liens">
	<li><a href=" https://fr-fr.facebook.com/CYCergyParisUniversite/"> Facebook </a></li>
	<li><a href=" https://twitter.com/universitecergy?lang=fr"> Twitter </a></li>
	<li><a href="https://www.cyu.fr/"> Université CY Paris Université</a></li>
	<li>•</li>
	<li><a class="lien-remonter" href="#haut" aria-label=""> Remonter </a></li>
	</ul>
	<p> © 2013–2021 - BUT MMI - CY Paris Université </p>
	<img class="logo-cyu" src="images/logo-cyu-couleur.svg" alt="Logo de Cergy Université">

</footer>