<nav class="max-w-[1280px] mx-auto navigation" id="haut">
    <ul data-navigation class="menu flex lg:justify-end gap-x-10 whitespace-nowrap overflow-x-auto px-3">
        {% for menu_item in menu %}
            <li>
                <a class="pt-10 block text-lg hover:text-pink-600" href="{{ menu_item.link }}">{{ menu_item.name }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>

<div id="openBurger" class="burger-container">
    <div class="burger">
        <button for="toggle-menu" class="svgBurger">&#9776;</button>
    </div> 
</div>


<div id="mySidenav" class="sidenav">
    <span style="color: #FFFFFF;" id="closeBtn" class="close">x</span>
    <ul>
        {% for menu_item in menu %}
            <li>
                <a class="pt-10 block text-lg hover:text-pink-600" href="{{ menu_item.link }}">{{ menu_item.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

<script>
    const sidenav = document.getElementById("mySidenav");
    const openBtn = document.getElementById("openBurger");
    const closeBtn = document.getElementById("closeBtn");

    openBtn.onclick = openNav;
    closeBtn.onclick = closeNav;

    function openNav() {
        sidenav.classList.add("active");
    }

    function closeNav() {
        sidenav.classList.remove("active");
        openBtn.style.display = "block";
    }

    function closeNavByLinks() {
        sidenav.classList.remove("active");
        openBtn.style.display = "block";
    }
</script>
